$editor-w: 460px;
$editor-h: 590px;

$black: #000;
$generalBg: #01090c;
//$generalBg: grey;
$panelBg: #0c1011;
$white: #fff;
$yellow: #f5b105;
$yellowHover: #fac706;
$fontColorBlue: #6a97a3;
$fontColorWhite: #fff;
$mediumGreen: #42616e;

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url('./fonts/Gotham/Gotham-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  src: url('./fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  font-style: italic;
  src: url('./fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: Gotham, Helvetica, sans-serif;
  height: 100%;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $fontColorBlue;
}

body {
  padding-top: 110px;
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: 100% auto;
  background-color: #0D1115;
  text-align: center;
  line-height: 1.5;
}

.headline {
  font-size: 36px;
  text-shadow: 0 0 10px rgba(#99ecff, .6);
  color: $white;
  margin-bottom: 80px;
}

.photo {
  flex: 1;
  width: $editor-w;
  height: $editor-h;
  margin: 0 auto 60px;
  position: relative;
  background-position: center;
  background-size: $editor-w $editor-h;
}

.photo::after {
  content: '';
  position: absolute;
  background-image: url('./images/ramka.png');
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  width: $editor-w + 24px;
  height: $editor-h + 24px;
  top: -13px;
  left: -12px;
  bottom: auto;
  pointer-events: none;
}

.pumpkinIcon {
  fill: $fontColorBlue;
  width: 200px;
  margin: 0 auto 20px;
}

.text {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.button {
  margin-bottom: 70px;
  -webkit-transition-property: transform box-shadow;
  -moz-transition-property: transform box-shadow;
  -ms-transition-property: transform box-shadow;
  -o-transition-property: transform box-shadow;
  transition-property: transform box-shadow;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  width: 250px;
  height: 60px;
  border-radius: 60px;
  background: $white;
  border: none;
  cursor: pointer !important;
  outline: none;
  font-weight: bold;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px #059daf,
    0 3px 0 #718186;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 0 20px #059daf;
  }
}

